@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.icon-spinning {
  animation: spin 2s linear infinite;
}

.captions {
  transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
  transform: translateY(20px);
  opacity: 0;
}

.captions.show {
  transform: translateY(0);
  opacity: 1;
}
