@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
}
body {
  color: rgb(var(--foreground-rgb));
  background-color: #f0f0f0;
}